.questions {
  background-color: rgb(141, 177, 141);
  border-radius: 10px;
  width: 38vw;
  height: 18vw;
  margin: 1.2vw auto;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.5);
  list-style: none;
}

.answers {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.btn-container {
  width: 90%;
  margin: 10px auto;
}

.answers button {
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(153, 221, 221);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
  width: 14vw;
  height: 4vw;
  text-align: center;
  cursor: pointer;
  transition: all 0.6s;
  transform: translateY(-1px);
  margin: 1rem 1rem 1rem 0;
}

.answers button:hover {
  box-shadow: none;
}
.answers button:disabled {
  box-shadow: none;
  color: #333;
}

.selected {
  box-shadow: none !important;
  background-color: rgb(27, 109, 109) !important;
}

.question-title {
  margin: 0.5rem auto;
  width: 90%;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

.submit-btn {
  background-color: rgb(153, 221, 221);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
  width: 5rem !important;
  height: 2rem !important;
}

.submit-btn:disabled {
  box-shadow: none !important;
}

.winner {
  background-color: #13883e !important;
  color: #fff !important;
}
.lose {
  background-color: #b73326 !important;
  color: #fff !important;
}

/* ====== mobile ====== */

@media (min-width: 320px) {
  .questions {
    width: 100%;
    height: auto;
    margin: 1rem auto;
  }

  .answers {
    width: 90%;
    height: auto;
    margin: 1rem auto;
  }

  .btn-container {
    width: 100%;
    margin: 0 auto;
  }

  .answers button {
    width: 6rem;
    height: 8vw;
    font-size: 9px;
    margin: 2vw;
    font-weight: 500;
  }

  .question-title {
    font-size: 3vw;
  }
}

/* ===== tablet version ==== */

@media (min-width: 768px) {
  /* .questions {
        margin: 0.2vw 10vw 3vw 5vw;
     } */
  .answers {
    height: auto;
    margin: 5vw auto;
    width: 85%;
  }

  .answers button {
    font-size: 13px;
  }
  .question-title {
    font-size: 2.5vw;
  }
}

/* ===== large devices ==== */

@media (min-width: 992px) {
  .questions {
    width: 43vw;
    height: auto;
  }
  .answers {
    width: 90%;
    height: 16vw;
    margin: 1rem auto;
  }

  .btn-container {
    width: 90%;
    margin: 10px auto;
  }

  .answers button {
    width: 16vw;
    height: 4vw;
    font-size: 1vw;
    margin: 1vw 1.4vw 1vw 0;
  }

  .question-title {
    margin: 1vw auto;
    font-size: 1.3vw;
  }
}
